body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    font-size: 1.2rem;
}

header {
    height: 30px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

header a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

header a:hover {
    color: tomato;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

img {
    max-width: 700px;
    max-height: 500px;
    height: auto;
    width: auto;
}

tr {
    margin: 0px; 
}

th, td {
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    height: 100px;
    background-color: black;
}

button {
    width: 70%;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    cursor: pointer; /* Указатель в виде руки */
    transition: background-color 0.3s ease; /* Плавный переход цвета фона */
}